= content_for(:page_name, 'population')
.header
  .section_header Jail Population Breakdown
  .header-kpis
    .kpi-container
      .kpi= @total_jail_population
      .kpi_label Total Jail Population
    .kpi-container
      .kpi= @inhouse_jail_population
      .kpi_label In-house Jail Population
%section
  .chart_title Percentage of total jail beds by population
  .chart_subtitle Current jail population
  %ul.accordion
    %li
      %span Condition of Probation
      .row
        .metric-bar
          .bar{ style: "width: #{@condition_of_probation_pct}%" }
          .kpi-container
            .kpi #{@condition_of_probation_pct}%
            .panel_kpi_label of jail beds
        .chevron.js-accordion-trigger{ 'data-chart': 'condition-of-probation', href: "javascript:void(0)" }
      .submenu
        .population-info-section
          .chart-area
            %span.small_chart_title Yearly Trend
            #condition-of-probation

          .stats-sidebar
            %span.small_chart_title Current Stats
            .stat
              .arrow
              .kpi-container
                .kpi #{@condition_of_probation_pct}%
                .panel_kpi_label % of jail beds
            .stat
              .arrow
              .kpi-container
                .kpi= @condition_of_probation_pop
                .panel_kpi_label # of jail beds
            .stat
              .arrow
              .kpi-container
                .kpi ??? days
                .panel_kpi_label avg length of sentence
    %li
      %span Justice Court Commitments
      .row
        .metric-bar
          .bar{ style: "width: #{@justice_court_pct}%" }
          .kpi-container
            .kpi #{@justice_court_pct}%
            .panel_kpi_label of jail beds
        .chevron.js-accordion-trigger{ 'data-chart': 'justice-court-commitments', href: "javascript:void(0)" }
      .submenu
        .population-info-section
          .chart-area
            %span.small_chart_title Quarterly Trend
            #justice-court-commitments

          .stats-sidebar
            %span.small_chart_title Current Stats
            .stat
              .arrow
              .kpi-container
                .kpi #{@justice_court_pct}%
                .panel_kpi_label % of jail beds
            .stat
              .arrow
              .kpi-container
                .kpi= @justice_court_pop
                .panel_kpi_label # of jail beds
            .stat
              .arrow
              .kpi-container
                .kpi ??? days
                .panel_kpi_label avg length of sentence

          .stats-table
            %table
              %thead
                %th.small_chart_title Justice Court Municipality
                %th.small_chart_title % of Justice Court Commitments
                %th.small_chart_title # of Jail Beds
              %tbody
                - @justice_court_stats_by_court.each do |court|
                  %tr
                    %td.table_body_text= court["name"]
                    %td.table_body_text #{court["bookings_pct"].round(1)}%
                    %td.table_body_text= court["bookings_count"]
    %li
      %span Held on Fines Under $500
      .row
        .metric-bar
          .bar{ style: "width: #{@held_on_fines_pct}%" }
          .kpi-container
            .kpi #{@held_on_fines_pct}%
            .panel_kpi_label of jail beds
        .chevron.js-accordion-trigger{ 'data-chart': 'held-on-fines', href: "javascript:void(0)" }
      .submenu
        .population-info-section
          .chart-area
            %span.small_chart_title Yearly Trend
            #held-on-fines

          .stats-sidebar
            %span.small_chart_title Current Stats
            .stat
              .arrow
              .kpi-container
                .kpi #{@held_on_fines_pct}%
                .panel_kpi_label % of jail beds
            .stat
              .arrow
              .kpi-container
                .kpi= @held_on_fines_pop
                .panel_kpi_label # of jail beds
            .stat
              .arrow
              .kpi-container
                .kpi ??? days
                .panel_kpi_label avg length of sentence
